body,
html {
  font: <size>px/em/cm;
  font-family: 'Archivo';
}

#aboutme {
  font-family: 'Archivo';
  color: white;
}

#home {
  font-size: 2.2vw;
  font-family: 'Archivo';
  color: white;
  margin-top: -55px;
}



.profile {
  border-radius: 50%;
}
.content {
  font-size: 2.2vw;
  color: white;
  font-family: 'Catamaran';
  border: 2px solid white;
  padding: 25px;
  margin: 25px;
}

.heading {
  font-family: 'Archivo';
  font-size: 4vw;
  color: white;
}
.skills_heading {
  font-family: 'Archivo';
  font-size: 2vw;
  color: white;
}
.skills_name {
  font-family: 'Archivo';
  font-size: 1.8vw;
  color: white;
}

.data1 {
  top: 25%;
  margin: 0 auto;
  position: relative;
  font-family: 'Archivo';
}
.linktoskills {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.parallax {
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

.parallax .parallax-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}
